<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin</title>
</head>
<body>
    <h1>🧑‍💼 Admin Page</h1>
  <button id="choose">Choose Random User</button>

  <script>
    const ws = new WebSocket("ws://" + location.host + "/ws?role=admin");

    ws.onopen = () => console.log("Connected as admin");

    document.getElementById("choose").onclick = () => {
      ws.send("pick one");
    };
  </script>
</body>
</html>